* {
    font-family: Georgia, Times, "Times New Roman", serif;
}

body{
    background-image: url(backgroundimg.jpg);

}

.quiz {
    margin: 100px auto 0 auto;
    max-width: 400px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

p {
    margin: 20px 10px;
    color: rgb(105, 241, 241);
    font-size: 15px;
}
